.box {
    background-color: inherit;
    color: inherit;
    border-top: 1px solid #767676;
    border-left: 1px solid #767676;
    padding: .5rem;
    flex: 1;
}

.box-close {
    border-right: 1px solid #767676;
    border-bottom: 1px solid #767676;
}

.box.box-block {
    padding: 0;
    height: 100%;
    width: 100%;
}

.box label {
    display: block;
    color: #ACACAC;
    text-transform: uppercase;
    height: 10px;
    padding-bottom: 1rem;
    margin-bottom: .5rem;
    font-size: 1rem;
}

.box:active,
.box:focus {
    outline: none;
    background: aliceblue;
}

.box input:focus {
    outline: none;
}